fastapi==0.115.0
uvicorn==0.30.6
huggingface-hub==0.22.2
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.23.0
yfinance==0.2.43
numpy==2.1.1
scipy==1.14.1
requests==2.32.3
python-multipart==0.0.9
python-dotenv==1.0.1
